<h2>Welcome <i><%= @user.email %>!</i></h2>
<br>
<%= link_to '+ New Monster', new_user_monster_path(@user) if @monsters.count < 20%>
 <% if @monsters.any? %>
  <h3>Your Monsters:</h3>
   Sort By: <%= link_to 'Name', root_path(sort: "name") %> |
          <%= link_to 'Power', root_path(sort: "power") %> |
          <%= link_to 'Weakness', root_path(sort: "weakness") %>
  <hr>
  <% @monsters.each do |monster| %>
    <p>
      <strong>Name:</strong>
      <%= monster.name %>
    </p>
   
    <p>
      <strong>Type:</strong>
      <%= monster.monster_type.name.titleize%>
    </p>
    
    <p>
      <strong>Power:</strong>
      <%= monster.power%>
    </p>
    
    <p>
      <strong>Team: </strong>
      <%= monster.team.name %>
    </p>
    <%= link_to 'Edit', edit_user_monster_path(@user, monster) %> |
    <%= link_to 'Delete', user_monster_path(@user, monster), :method=>'delete' %>
    <hr><br>
  <% end %>
<% end %>
